/* common */
section,
h1,h2,h3,
ul,ol,li{
    margin: 10px;
}
section{
    /*line-height: 1.2em;*/
    width: 800px;
    border: 1px solid orange;
}
p{  
    line-height: 1.5;
    padding-left: 3em;
}
strong{
    margin-left: -3em;
}
em{
    background: #ddd;
    color: red;
}
.test{
    background: lightyellow;
}

/* demo-one */
.demo-one .test{
    text-align: center;   /* 水平居中-行内元素 */
}
.demo-one .test span{
    /*line-height: 2em;*/
    background: lightgreen;
}

/* demo-two */
.demo-two .test{
    text-align: center;
}
.demo-two .child{
    margin: 10px auto;   /* 水平居中-定宽块元素 */
    width: 150px;   /* 定宽 */
    /*line-height: 20px;*/
    background: lightgreen;
}

/* demo-three */
.demo-three .test_{
    margin: 10px;
    border: 1px dotted #999;
    background: lightyellow;
}
.demo-three .test_ ul,
.demo-three .test_ ul li{
    margin: 0;
}

.demo-three .test_ ul li{ 
    background: #000;
    margin-right: 5px;
}
.demo-three .test_ ul li a{
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}
.demo-three .test_ .container{
    overflow: hidden;   /* 清除浮动 */ 
    background: lightgreen;
}

/* 方法一 */
.demo-three .test_1 ul,
.demo-three .test_1 ul li{
    float: left;
}
.demo-three .test_1 table{
    margin: 0 auto;   /* 加入table标签后设置margin自动 */
}

/* 方法二 */
.demo-three .test_2 ul{
    text-align: center;
}
.demo-three .test_2 ul li{
    display: inline;   /* 强行设置内联元素 */
    background: #000;
}

/* 方法三 */
.demo-three .test_3 ul{
    position: relative;   /* 父级相对定位+浮动 */
    left: 50%;
    float: left;
}
.demo-three .test_3 ul li{
    position: relative;   /* 子级相对定位+浮动 */
    right: 50%;   /* or left: -50%; */
    z-index: 2;
    float: left;
}


