/* content common */
section,
h1,h2,h3,
ul,ol,li{
    margin: 10px;
}
img{
	width: 400px;
}
em{
    background: #ddd;
    color: red;
}

.main,
.footer{
	padding: 10px;
	width: 300px;
	background: lightyellow;
}
.main div{
	float: left;
	width: 100px;
	height: 50px;
}
.main .left{
	background: lightblue;
}
.main .right{
	background: lightgray;
}
.footer{
	height: 20px;
	background: lightgreen;
}

/* 1、在父级添加 overflow: hidden */
.demo-one .main{
	overflow: hidden;
}
/* 2、在父级添加 display: table */
.demo-two .main{
	display: table;
}
/* 3、使用 :after 伪类 */
.demo-three .clearfix:after{
	content: '.';
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.demo-three .clearfix{
	*zoom: 1;
}

