/* common */
body{
    font-family: Arial, 'Microsoft YaHei';
    line-height: 1.5;
}
section,
h1,
h2,
h3{
    width: 800px;
    margin: 10px;
}
p,
ul,li{
    padding-left: 10px;
}
div{
    margin: 5px;
    width: 800px;
    min-height: 10px;
    border: 1px solid orange;
    background: lightyellow;
    overflow: hidden;
}
h2,
h3{
    line-height: 1.2;
}
em{
    padding: 0 10px 0 5px;
    background: lightcoral;
    color: oldlace;
}
pre{
    color: lightyellow;
    background: #222;
    max-width: 400px;
}

/* 1、margin的auto属性值的作用 */
.demo-one .demo p,
.demo-two .demo p{
    width: 300px;
    line-height: 1.5;
    text-align: center;
    background: lightblue;
}
.demo-one .demo .one{
    margin-left: auto;   /* margin-left自动占据了 500-100 = 400px 的空间 */
}
.demo-one .demo .two{
    margin: 0 auto;   /* margin-left与margin-right平均分配了（500-100）/2 = 200px 的空间，进而实现了水平居中 */
}

/* 2、margin的值为percentage时的计算方法 */
.demo-two .demo p{
    display: inline-block;
    margin: 10% 5%;   /* margin的百分比计算值 = (percentage * width)水平书写模式（默认）下，非水平书写模式下，百分比计算值 = (percentage * height) */
}

/* 3、margin与relative定位的区别 */
.demo-three .demo{
    overflow: visible;
}
.demo-three .demo p{
    display: inline-block;
    width: 380px;
}
.demo-three .demo .margin-bottom{
    margin-bottom: 20px;   /* margin-bottom 是增加自己与别人的距离 */
    background: orange;
}
.demo-three .demo .relative-bottom{
    position: relative;  /* relative bottom 是相对于自己的位置发生的偏移量 */
    bottom: 20px;
    background: lightgreen;
}

/* 4、避免 margin 折叠的方法是：浮动 、非块元素 、绝对定位 、overflow 、设border */

/* 5、 负边距的应用： */
/* 5.1、负边距隐 藏边框 */
.demo-four .demo{
    border: 0;
    text-align: left;
}
.demo-four .demo ul{
    margin-bottom: -1px;   /* 负边距隐藏最后一个li的下边框 */
}
.demo-four .demo ul li{
    margin-right: 10px;
    padding: 8px 10px;
    border-bottom: 1px solid #000;
}
/* 5.2、负边距隐藏边框 */
.demo-four .demo div{
    margin-bottom: -990px;   /* 负边距伪等高布局 */
    padding-bottom: 999px;
    border: 0;
    text-align: center;
}
.demo-four .demo .main{
    float: left;
    width: 500px;
    background: orange;
}
.demo-four .demo .aside{
    float: right;
    width: 280px;
    background: lightgreen;
}
/* 5.3、负边距设置悬挂 */
.demo-four .test p{
    margin: 10px;
    padding-left: 3em;
    background: lightyellow;
    width: auto;
    color: #999;
    text-align: left;
    line-height: 1em;
}
.demo-four .test strong{
    margin-left: -3em;   /* 负边距悬挂 */
}
