/* common */
body{
    font-family: Arial, 'Microsoft YaHei';
    line-height: 1.5;
}
section{
    width: 800px;
}
section,h1,h2,h3{
    margin: 10px;
}
p{
    padding-left: 3em;
}
strong{
    margin-left: -3em;
}
em{
    padding: 0 10px 0 5px;
    background: lightcoral;
    color: oldlace;
}

/* demo-one */
.demo{
    width: 800px;
    border: 1px solid orange;
}
.demo p{
    padding-left: 5px;
}
.demo .comments{
    padding-left: 1em;
    background-color: #e4e4e4;
}
.demo .iebug{
    padding-left: 1em;
    color: oldlace;
    background-color: lightcoral;
}
.demo .container{
    margin: 0 auto;
    border: 1px dashed #999;
    width: 700px;
    background: lightyellow;
}
.demo .child{
    margin: 5px;
    padding: 16px;
    border-radius: 5px;
}
.demo .a{
    background: lightgreen;
}
.demo .a .tips{
    position: absolute;
    top: 30px;
    left: 200px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
}
.demo .b{
    background: lightblue;
}

.demo-one .a{
    position: relative;
}

.demo-two .a{
    position: relative;
}
.demo-two .b{
    position: relative;
}
.demo-three .a{
    position: relative;
}
.demo-three .b{
    position: relative;
}
.demo-three .a .tips{
    z-index: 99;
}
